.collection-item {
    position: relative;
}

.delete-btn{
    display: none;
}

.collection-item:hover {
}

.collection-item:hover .delete-btn {
    color: white;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tags {
    display: none;
}

.collection-item:hover .tags {
    color:lightgray;
    display:block;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.collection-link {
    display: none;
}

.collection-item:hover .collection-link {
    color: lightgray;
    display: block;
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.creator {
    display: none;
}

.collection-item:hover .creator {
    color: lightgray;
    display: block;
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}