.collection-item {
    position: relative;
}

.delete-btn{
    display: none;
}

.collection-item:hover .delete-btn {
    color: white;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tags {
    display: none;
}

.collection-item:hover .tags {
    color:white;
    display:block;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}